<div class="location-card">

    <div class="center">
        <img src="assets/location-image.jpg" alt="{{ mainDoctor }} Office" class="location-card__office-image">
    </div>

    <div class="location-card__logo--wrapper">
        <img  src="assets/tate-logo.svg" alt="{{ mainDoctor }}" class="location-card__logo">
    </div>

    <div class="location-card__content">
        <h4 class="location-card__doctor">Haley Tate, DDS<br>Michael Anderson, DDS</h4>
        {#<p class="location-card__doctor-sub">GENERAL & COSMETIC DENTIST</p>#}
        <p class="location-card__address">11834 Old National Pike<br>New Market, MD 21774</p>
        <a href="{{ googleMap }}" target="_blank" class="link-no-style ">
            <h6 class="location-card__map-link underline">Click to view map & directions</h6>
        </a>
        <p class="location-card__new-patient-text">New Patient Hotline</p>
        <a href="tel:{{ newPhone }}" class="location-card__new-patient-number">{{ newPhoneNoBreak }}</a>

        <a class="btn align-fix location-card__btn btn--style-two" data-toggle="modal" data-target="#requestAppointmentForm">Request an Appointment</a>
        {#{% include 'atoms/hours-table.twig' %}#}

        <p class="location-card__existing-patient-text">Existing patients:
            <a href="tel:{{ existingPhone }}" class="link-no-style location-card__existing-patient-number">{{ existingPhoneNoBreak }}</a>
        </p>

        <div class="location-card__social-media">
            {% include 'molecules/social-media-links.twig' %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>