<div class="team-carousel">

    <div class="heading-2">
        <h2 class="heading-2__main center">Meet the Team</h2>
        <h3 class="heading-2__byline center">Click a team member to learn more</h3>
    </div>

    <div class="team-carousel__carousel">
        <div class="container">
            <div class="team-carousel--wrapper">
                <div class="owl-carousel js-team-carousel">
                    {% for person in team %}
                        {% if person.carousel %}
                            <div class="team-card team-card--{{ person.name }}">
                                <a href="#" data-toggle="modal" data-target="#team-modal{{ person.modalTarget }}">
                                    {#<div class="team-card__image" style="background-image: url('/assets/staff/{{ person.image }}')"></div>#}
                                    <img src="/assets/staff/{{ person.image }}" alt="{{ person.name }}" class="team-card__image">
                                    <div class="team-card__text">
                                        <h5 class="team-card__title allow-orphan">{{ person.name }}</h5>
                                        <h6 class="team-card__sub">Read More</h6>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/team__modals.twig' %}
</div>
